
<h2 class="page-header">Dashboard</h2>
<body>

  <div class="topNavBar">
      <img src="Assets/Logo.png" id="logo">
      <div id="profile">
          <img src="Assets/profile.png" id="profilePic">
          <div style="name">
              Yingning Gui
          </div>
      </div>
      <div id="logOutButton">
              Log Out
      </div>
  </div>


  <!--Left Navigation Pane -->
  <div class="leftNavBar">
      <div id="selectingBlock"></div>
      <div id="leftNavBarspacer_Top"></div>
      <ul id="leftNavChoices">
          <li id="li_leftNavChoices" style="font-weight: bolder;"><a href=#>Dashboard</a></li>
          <li id="li_leftNavChoices"><a href=#>My Portfolio</a></li>
          <li id="li_leftNavChoices"><a href=#>Rewards</a></li>
          <li id="li_leftNavChoices"><a href=#>Leaderboard</a></li>
          <li id="li_leftNavChoices"><a href=#>Resources</a></li>
          <li id="li_leftNavChoices"><a href=#>Settings</a></li>
      </ul>


      <div id="leftNavFooter">
          <a href=# id="leftNavAboutUs">About us</a>
          <div>
              <a href="https://medium.com/mycryptohippo/welcome-to-behindtheproduct-571825990f29"><img id="aboutUsFooterIcons" src="pictures/medium_icon_20.png" alt="myCryptoHippo Medium Icon"></a>
              <a href="https://instagram.com/myCryptoHippo"><img id="aboutUsFooterIcons" src="pictures/instagram_icon_20.png" alt="myCryptoHippo Instagram Icon"></a>
              <a href="https://www.facebook.com/mycryptohippo/?ref=br_rs"><img id="aboutUsFooterIcons" src="pictures/facebook_icon_20.png" alt="myCryptoHippo Facebook Icon"></a>
              <a href="https://twitter.com/myCryptoHippo"><img id="aboutUsFooterIcons" src="pictures/Twitter_icon_20.png" alt="myCryptoHippo Twitter Icon"></a>
          </div>
      </div> <!--class "leftNaveFooter" end-->
  </div>


  <div id="mainPanel">
      <div id="portfolio">
          <p id="intro">
              Hey, Yingning
          </p>
          <div id="pDes">
              You have $4,500 of virtual money to invest in more crypto currency!
          </div>
          <div id="pDes">
              Continue buying and selling with real-time prices to learn more.
          </div>
          <div id="tradeButton">
              Trade Now
          </div>
      </div>

      <div id="richest">
          <p id="title">
              Richest Hippos
          </p>
          <p id="moreInfo">
              Last 24 Hours
          </p>
          <div id="des">
              These people have risen to the top? Want to see yourself on this board? <a id="link">Start trading.</a>
          </div>
          <div id="header">
              <div id="he1">
                  Rank
              </div>
              <div id="he2">
                  User
              </div>
              <div id="he3">
                  Net Worth
              </div>
          </div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>

          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>


          <div id="seeMoreButton">
              See More
          </div>

      </div>

      <div id="hippiest">
          <p id="title">
              Hippiest of the Herd
          </p>
          <div id="des">
              Want to be king of the herd? Fight your way to the top of your herd-mates! <a id="link">Start trading.</a>
          </div>

          <div id="header">
              <div id="he1">
                  Rank
              </div>
              <div id="he2">
                  User
              </div>
              <div id="he3">
                  Net Worth
              </div>
          </div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
          <div id="divLine"></div>

          <div id="person">
              <div id="pe1">
                  1
              </div>
              <img src="Assets/profile.png" id="personPic">
              <div id="pe2">
                  Henry
              </div>
              <div id="pe3">
                  $15,000
              </div>
          </div>
      </div>
  </div>
</body>
